{% extends "base.html" %}

{% block body %}
	<h1>Welcome!</h1> 
	<div>Instructions: You will have 4 choices. Choices will give different frequencies of points. Your goal is to get as many points as possible.</div> 
	<div>Each game has 15 trials. During these 15 trials, the frequencies will stay the same for each choice. After the game, the frequencies will change.</div>
	<div>There are 20 games of 15 trials each.</div>
	</br>
	<div>Please submit your Worker ID to begin:</div>
	<input id="amt_id" type="text">
	<input id="start" type="submit">
{% endblock %}