{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<script async type=text/javascript src="{{
		url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="index_wrapper">
	<h1>Welcome!</h1> 
	<h3><b>Instructions:</b></h3>
	<div>You will choose between <b>4 choices</b>.
		<br>Each choice has a <b>different chance of getting 1 point or 0 points</b>.
		<br><br>You will make 15 choices (rounds) in each game. You will have 20 seconds per choice. 
		<br>These chances are the same for a game, but <b>reset</b> for the next game. 
		<br>The goal is to get the most points with your partner.
	</div>
	<br>
	<div>You will play 20 games with your partner.
		<br>Let's start with 1 practice round by yourself. This doesn't count and has no time limit, just to understand the game.
	</div>
	<br>
	<div>Please submit your Worker ID to begin:</div>
	<br>
	<input id="amt_id" type="text">
	<input id="start" type="submit">
	</div>
{% endblock %}