{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<script async type=text/javascript src="{{
		url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body %}
	<h1>Welcome!</h1> 
	<div><b>Instructions:</b> You will do 1 practice round of the game by yourself (does not count toward final score). Then, we'll pair you with a partner (this counts :)).</div>
	</br> 
	<div>In the game, you will choose between <b>4 choices</b> in each round. Each choice has a <b>different chance of getting 1 point or no points</b>. You will play 15 rounds (aka. make 15 choices) for each game. These chances are reset to something different at the beginning of a game. The goal is to get the most points with your partner.</div>
	</br>
	<div>Each game has 15 rounds that will each take 1min max. You will play 20 games with your partner, and 1 practice round by yourself.</div>
	</br>
	<div>Please submit your Worker ID to begin:</div>
	<input id="amt_id" type="text">
	<input id="start" type="submit">
{% endblock %}