{% block head %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
	  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
{% endblock %}

{% block body %}
<body>
	<h1>Dashboard</h1>

	<h2>Model Agreement Percentage</h2>
	<div>{{ avg_agreement }}</div>

	<h3>By room</h3>
	<table>
		<tr>
			<th>Room</th>
			<th>Avg agreement</th>
		</tr>
		{% for room in room_avg_agreement %}
		<tr>
			<td><a href="{{ '/human_actions/%s'%(loop.index0) }}">Room {{ loop.index0 }}</a></td>
			<td>{{ room | round(2) }}</td>
		</tr>
		{% endfor %}
	</table>

	<h3>By game</h3>
	<table>
		<tr>
			<th>Game</th>
			<th>Avg agreement</th>
		</tr>
		{% for game in game_avg_agreement %}
		<tr>
			<td>Game {{ loop.index0 }}</td>
			<td>{{ game | round(2) }}</td>
		</tr>
		{% endfor %}
	</table>

</body>
{% endblock %}