{% extends "layout.html" %}
{% block body %}
<span id="score_wrapper" class="wrapper">Points this game: <span id="score">0</span></span>
<span id="trial_wrapper" class="wrapper">Trial <span id="trial">1</span> of 15</span>
<span id="game_wrapper" class="wrapper">Game <span id="game">1</span> of 20</span>

<p>
  <div>Ratio: <span id="r1"></span>
    <div>Bar graph</div>
  <button type="button" id="1">Choice 1</button></div>
  <div>Ratio: <span id="r2"></span>
    <div>Bar graph</div>
  <button type="button" id="2">Choice 2</button></div>
  <div>Ratio: <span id="r3"></span>
    <div>Bar graph</div>
  <button type="button" id="3">Choice 3</button></div>
  <div>Ratio: <span id="r4"></span>
    <div>Bar graph</div>
  <button type="button" id="4">Choice 4</button></div>
</p>
  <div>Point for choice: <span id="reward"></span></div>
{% endblock %}